<%= @article.title %><%= @article.content %>
<form method="post" action="/articles/<%= @article.id%>">
<input type="hidden" name="_method" value="patch">
<input type="text" name="title" id="title">
<input type="text" name="content" id="content">
<input type="submit" id="Submit">
</form>